@import url(skeleton.css);
@import url(/Styles/Header/header.css);
@import url(/Styles/Footer/footer.css);
@import url(/Styles/Main/main.css);

@media screen and (max-width:800px) {

    #hbutton {
        display: inline-block;
        cursor: pointer;
        margin-left: auto;
    }

    #hitems > * {
        width: 100%;
        flex-basis: auto;
    }

    #htoggle:checked ~ #hitems {
        display: flex;
        flex-wrap: wrap;

    }
    #htoggle:not(:checked) ~ #hitems{
        display: none;
    }

    section.image-list {
        flex-direction: column;
    }
    img.empty-image1 {
        max-width: 80%;
        gap: 20px;
    }

    section.content {
        flex-direction: column;
        gap: 20px;
    }
}